* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "La Belle Aurore", cursive;
    background-color: #000000;
    overflow: hidden;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

.sans-serif {
    font-family: sans-serif;
}

.container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.center-container {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 1%;
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .center-container {
        width: 80%;
        margin-left: 10%;
        margin-top: 25%;
    }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .center-container {
        width: 80%;
        margin-left: 10%;
        margin-top: 15%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
    .center-container {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
    .center-container {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }
}

.center-container .hey-there {
    font-size: 35px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
    .center-container .hey-there {
        font-size: 25px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
    .center-container .hey-there {
        font-size: 25px;
    }
}

.center-container .heading {
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin-top: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
    .center-container .heading {
        font-size: 25px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
    .center-container .heading {
        font-size: 25px;
        margin-top: 25px;
    }
}

.center-container .links {
    width: 60%;
    margin-left: 20%;
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .center-container .links {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
    .center-container .links {
        width: 100%;
        margin-left: 0%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
    .center-container .links {
        width: 70%;
        margin-left: 15%;
    }
}

.center-container .links .link-div {
    width: 18%;
    display: inline-block;
    text-align: center;
}

.center-container .links .link-div .fa {
    font-size: 5em;
    color: white;
    transition: all 0.25s ease-in-out;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait) {
    .center-container .links .link-div .fa {
        font-size: 4em;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
    .center-container .links .link-div .fa {
        font-size: 4em;
    }
}

.center-container .links .link-div .fa:hover {
    font-size: 4em;
}